@font-face {
    font-family: 'indie_flowerregular';
    src: url('/indieflower-webfont.woff2') format('woff2'),
         url('/indieflower-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media print
{
    #dialogApp, #keyboardApp, #toolboxApp, #debugApp {
        display: none !important;
    }
}

html {
    background-color: var(--bg-color);
}

svg {
    background: var(--bg-color);
}

body {
    margin: 0;
}

#app {
    margin: 0 auto;
    width: 100%;
}

g.scribble path {
    fill: none;
    stroke: rgba(var(--fg-color-main));
    stroke-width: 2px;
}

g.scribble path.selectTarget {
    stroke-width: 10px;
    opacity: 0;
}

g.link path {
    fill: none;
    stroke: rgba(var(--fg-color-main));
    stroke-width: 1px;
    stroke-dasharray: 4 1
}

g.link path.selectTarget {
    stroke-width: 10px;
    opacity: 0;
    stroke-dasharray: 0;
}

rect.bounds {
    fill: none;
    stroke-width: 2px;
    stroke: red;
}

path.link-preview {
    stroke: rgba(var(--fg-color-highlight));
    opacity: 0.4;
    stroke-width: 1px;
    stroke-dasharray: 4 1;
}

text.label {
    fill: rgba(var(--fg-color-main));
    text-anchor: middle;
    dominant-baseline: hanging;
    font-size: 16px;
}

.tool-select path.selectTarget:hover {
    stroke: rgba(var(--fg-color-highlight));
    marker-end: url(#arrow);
    opacity: 0.4;
}

.tool-select g.selected path.editTarget {
    stroke: rgba(var(--fg-color-selected));
    opacity: 0.2;
}

.tool-select g.selected path.selectTarget:hover {
    stroke: rgba(var(--fg-color-highlight));
    marker-end: url(#arrow);
    opacity: 0.5;
}

.tool-select use.icon:hover, .tool-link use.icon:hover {
    filter: drop-shadow(0px 0px 10px rgba(var(--fg-color-highlight), 0.8));
}

.tool-select g.selected use.icon {
    filter: drop-shadow(0px 0px 10px rgba(var(--fg-color-selected), 0.7));
}

.tool-select g.selected use.icon:hover {
    filter: drop-shadow(0px 0px 8px rgba(var(--fg-color-highlight), 1.0));
}

.tool-label use.icon:hover {
    cursor: text;
}

.tool-icon.main {
    cursor: crosshair;
}

.alternatives {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;

    width: 100vw;
    height: calc(100vh - 5px); /* no idea why the 5px is needed to get rid of vertical scrollbar in firefox... */
}

.alternatives > .alternative {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.alternative {
    width: 100%;
    height: 100%;
    transition: opacity 600ms;
}

.alternative > div {
    height: 100%;
}

.alternative.active {
    opacity: 100;
}

.alternative.inactive {
    opacity: 0;
}

.alternative.hidden {
    display: none;
}

svg.main {
    background-color: var(--bg-color);
    width: 100vw;
    height: calc(100vh - 5px); /* no idea why the 5px is needed to get rid of vertical scrollbar in firefox... */
}

.dialog {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.dialog > div {
    background-color: var(--fg-color-dialog);
    border: 2px solid rgba(var(--fg-color-main));
    max-width: 1000px;
    box-shadow: 5px 5px 10px rgba(var(--fg-color-main), 0.5);
    padding: 5px;
}

.drawing-list .title {
    text-align: left;
    font-weight: bold;
    padding-bottom: 1em;
}

.drawing-list .note {
    text-align: left;
    font-style: italic;
    font-size: 90%;
    padding-bottom: 0.3em;
}

.icon-dialog .results {
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rgba(var(--fg-color-main)) rgba(var(--fg-color-main));
}

.icon-dialog .result {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.link-dialog {
    display: grid;
    grid-template-columns:  minmax(100px, auto) 1fr;
    justify-items: start;
}

.link-dialog .lengths {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.link-dialog div.length input {
    display: none;
}

.link-dialog div.length label, .link-dialog div.length div {
    cursor: pointer;
}

.link-dialog .direction input {
    width: 3em;
}

.link-dialog .direction-presets {
    font-weight: bold;
}

.link-dialog input:checked + div {
    background-color: rgba(var(--fg-color-selected));
}

.link-dialog .direction-presets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.link-dialog .direction-presets .preset {
    width: 2em;
    cursor: pointer;
}

.keyboard-hints {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse; /* We want later-added keyboard shortcuts to appear above older ones */
}

#debugApp {
    position: fixed;
    z-index: 3;
    bottom: 10px;
    right: 10px;
}

.keyboard-hints .key {
    width: 2em;
    border: 1px solid rgba(var(--fg-color-main));
    color: rgba(var(--fg-color-main));
    background-color: var(--fg-color-dialog);
    margin: 2px 10px 2px 2px;
    display: inline-grid;
    align-items: center;
    justify-items: center;
    box-shadow: 2px 2px 4px rgba(var(--fg-color-main), 0.5);
    cursor: pointer;
}

.keyboard-hints .active .key {
    background-color: rgba(var(--fg-color-selected));
}

.keyboard-hints .description {
    display: inline;
    text-shadow: 2px 2px 2px rgba(var(--fg-color-main), 0.5);
    color: rgba(var(--fg-color-selected));
}

.icon-preview {
    filter: opacity(50%);
}

div.label-input {
    position: fixed;
    z-index: 3;
}

div.label-input input {
    text-align: center;
    background-color: var(--fg-color-dialog);
    border: 1px solid rgba(var(--fg-color-main));
    outline: none;
}

div.label-input input:focus {
    outline: none;
}

.toolbox {
    position: fixed;
    z-index: 3;
    top: 10px;
    left: 10px;

    border-radius: 20px;

    background-color: rgba(var(--fg-color-main));
    border: 1px solid rgba(var(--fg-color-main));
    box-shadow: 5px 5px 10px rgba(var(--fg-color-main), 0.5);

    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1px;
}

.tool:first-child > div {
    border-radius: 20px 20px 0px 0px;
}

.tool:last-child > div {
    border-radius: 0px 0px 20px 20px;
}

.tool > div {
    width: 1.5em;
    height: 1.5em;
    font-size: 200%;

    display: grid;
    align-items: center;
    justify-items: center;

    color: rgba(var(--fg-color-main));
    background-color: var(--fg-color-dialog);
    cursor: pointer;
}

.tool > input {
    display: none;
}

.tool > input:checked + div {
    background-color: rgba(var(--fg-color-selected));
}

.tool > div > label {
    display: block;
    text-align: center;
    cursor: pointer;
}

div.disconnected {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div.loading {
    color: #521412;
    background-color: #A88362;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

