:root {
    --bg-color: #80a080;

    --fg-color-dialog: #ADD7CD;

    --fg-color-main: 0, 0, 0;
    --fg-color-highlight: 0, 255, 0;
    --fg-color-selected: 255, 255, 255;
}

g.icon text.label, div.label-input input {
    font-family: indie_flowerregular;
}

/* https://codepen.io/sosuke/pen/Pjoqqp for other colors  */
g.selection-crosshair {
    filter: invert(96%) sepia(60%) saturate(580%) hue-rotate(321deg) brightness(107%) contrast(108%); opacity(50%);
}
